/*
 * Pin on the frontend.
*/
body:not(.path-admin) .ckeditor-tooltip-text[data-tooltip-placeholder-is-selection="false"] {
  width: 18px;
  height: 18px;
  background-color: #82c0d2;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  transition: 0.4s ease-in-out;
  transform: scale(1);
  text-decoration: none;
}

body:not(.path-admin) .ckeditor-tooltip-text[data-tooltip-placeholder-is-selection="false"]:hover {
  transform: scale(1.2);
}
