/* styles.css */

.ck.ck-cke-tooltip-form {
  padding: var(--ck-spacing-large); /* Double check why it was var(--ck-spacing-large) */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: var(--ck-spacing-standard); /* Double check why it was var(--ck-spacing-standard) */
}

.ck.ck-cke-tooltip-form .ck.ck-labeled-field-view:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 5px;
}

.ck.ck-cke-tooltip-form .ck.ck-labeled-field-view:nth-of-type(2) {
  grid-area: 2 / 1 / 3 / 3;
}

.ck.ck-cke-tooltip-form .ck-button:nth-of-type(1) {
  grid-area: 3 / 1 / 4 / 2;
}

.ck.ck-cke-tooltip-form .ck-button:nth-of-type(2) {
  grid-area: 3 / 2 / 4 / 3;
}
